*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:"poppins", sans-serif;
}

 nav {
    background-color:rgb(0, 0, 13); 
    height: 800px;
    width: 100%;
    color: white;
} 

.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-left i {
font-size: 45px;
margin: 20px ;
margin-left: 55px;
}

.nav-right{
margin-right: 30px;
display: flex;
gap: 30px;
font-size: 15px;
}

.img a img{
margin-top: 100px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.nav-left span {
    color: white;
    font-size: 16px;

}

.main h1 {
display: flex;
justify-content: center;
align-items: center;
font-size: 70px;
font-weight: 800;
}
 
 .nav-p1{ 
   margin-left: 530px;
   margin-top: 20px;
    font-size: 24px;
    /* font-weight: 400; */
    color: #6e7681;
}

.btn {
    width: 270px;
    height: 50px;
    padding: 16px 30px 20px 30px;
    color: black;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 530px;
    margin-top: 40px;
    align-items: center;
    cursor: pointer;
}

button:hover{
  box-shadow: 2px 1px 20px rgb(160, 154, 154);
}

 nav .nav-p2 {
    margin-left: 530px;
    font-size: 20px;
    margin-top: 20px;
}
.main-panel{
height: 100px;

}
/* <!-- Section -->
/* 
section {
    /* background: linear-gradient(to top right, #b4b2bb86 0%, #080808 100%); */
    /* height: 800px;
    display: flex; */
  
  
/* }
section div{ 
 
    height: 4000px;
    width: 100%;
   background-color: black;
} 
 section .div-1{
background-color: #145d74;

}

section .div-2{
    background-image: linear-gradient(to bottom right, rgb(195, 214, 25), yellow);
 
}
 section .div-3{
   background-color: #0e1f0a;
} */

 .contaner{
height: 442px;
margin: 5%;
/* display: flex; */
}
.d-flex>h1 {
font-size: 65px;
font-weight: 800;
line-height: 68px;
height: 135px;
width: 920px;
letter-spacing: -1.92px;

}
.box{
    height: 50px;
    /* width: 10%; */
    font-size: 24px;
    font-weight: 800;
    line-height: 15px; 
}
.cool{

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
  
}

.box>h2{
 /* margin-top: 25px; */
 font-size: 30px;
 /* padding: 15px; */
 padding-top: 10px;
 line-height: 30px;
/* align-self: start; */
 
}
.box>p{
    color: #6e7781;
    font-size: 15px;
   
}
.box>li{
    font-size: 15px;
    text-decoration: none;
    margin-top: 10px;
    list-style: none;
    


}
.box>p{
color: #6e7781;
font-size: 15px;
font-weight: lighter;
}
.box>li>a{
    text-decoration: none;
    color: #0969da;
}
h2,p,a{
  padding-top: 20px;
}
.vell{
    height: 60px;
}
.vell>h3{
text-align: center;
margin-top: 30px;
font-size: 24px;
color: #e9edf0;
}

.panel{
    display: flex;
    height: 500px;
    width: 100%;
    border: 2px solid red;
    position: relative;

  
   
}
.div{
    border-radius: 5px;
   
    background-color: #ffffff;
    opacity: 1;
    height: 256px;
    /* border: 2px solid red; */
    left: 0;
    padding-left: 10px;
   
   position: absolute;
left: 390px;
top: 120px;
  
    
}
.h2{
    text-align: left;
    font-size: 28px;
    font-weight: 900;
   
}
.p{
    text-align: left;
    font: size 15px; ;
    height: 25px;
    color:#6e7781;
    margin-bottom: 15px;
   

}
.button{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;

}
.li{
    list-style: none;
    text-decoration: none;
    text-align: left;
}
.bt1{
  text-align: center;
    background-color: #1b1f23;
    height: 50px;
    width: 220px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 14 24 18 24;
    cursor: pointer;
}
/* 
.foot-main{
    height: 413px;
    width: 500px;
    display: flex;
    margin-left: 800px;
   border: 2px solid red;
} */

.foot>h4{
    color: #1f2328;
}
.foot>ul>li{
   color:#7e7781 ; 
   list-style: none;
   gap: 40px;
}

.svg{
    height: 50px;
    width: 40px;

}
.footer-container-fluid{
    height: auto;
    background-color: #fff;
    padding-bottom: 50px;
    border-top: 1px solid #ccc;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: auto;
}
.footer-box1{
    height:auto;
    width: 350px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.footer-box1 > h2{
    color: black;
    padding: 1rem 0 0 1rem;
    font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: -2px;
}
.footer-box{
    height:auto;
    width: 200px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.footer-box > h4{
    color: black;
    font-weight: 600;
    padding: 1.5rem 0 0 1rem;
}
.footer-box > ul{
    padding: 1rem;
    line-height: 35px;
}
.footer-box > ul > li{
    list-style-type: none;
}
.footer-box > ul > li > a{
    text-decoration: none;
    color: #666;
    font-size: 0.9rem;
}
.footer-box > ul > li > a:hover{
    text-decoration: underline;
}
.footer-nav-container-fluid{
    height: auto;
    width: 100%;
    background-color: #F6F8FA;
    padding-bottom: 10px;
}
.footer-nav-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.footer-nav-box1{
    height: auto;  
}
.footer-nav-box1 > ul{
    display: flex;
    gap: 10px;
    padding-left: 30px;
}
.footer-nav-box1 > ul > li{
    list-style-type: none;
    padding-top: 20px;
    font-size: 0.8rem;
}
.footer-nav-box2{
    height: auto; 
}
.footer-nav-box2 > ul{
    display: flex;
    gap: 10px;
    padding-right: 30px;
    padding-left: 1rem;
}
.footer-nav-box2 > ul > li{
    list-style-type: none;
    padding-top: 20px;
    font-size: 1.5rem;
    color: #6E7781;
}